In [ ]:
<b>PROJECT</b>
Buatlah Data latih sederhana untuk klasifikasi data berdasarkan 
<ol>
    <li>Usia : 18 - 60</li>
    <li>Transaksi perbulan : 0-50</li>
    <li>Label : Loyal(0) , Tidak Loyal (1) </li>

</ol>

In [19]:
import numpy as np
import pandas as pd 

n_data = 100

usia = np.random.randint(18,61,size=n_data)
transaksi = np.random.randint(0,51,size=n_data)
label = np.random.randint(0,2,size=n_data)
gender = np.random.choice(['L','P'],size=n_data)

df = pd.DataFrame({
    'Usia' : usia,
    'Transaksi' : transaksi,
    'Label' : label,
    'Gander' : gender
})

df.to_csv('dataLatih.csv',index=False)

df.head 
df.info
df

    Usia  Transaksi  Label Gander
0     44         24      0      P
1     47         42      0      P
2     21         40      1      P
3     43         38      1      P
4     45          3      0      L
..   ...        ...    ...    ...
95    53         20      0      L
96    42         33      0      P
97    57          1      1      L
98    20         36      0      L
99    54         16      1      L

[100 rows x 4 columns]

In [ ]:
minAge = df(